---
title: Tim Cook - Software Engineer
---

= partial "nav"
%div.main
  = partial "header"
  = partial "whatido"
  = partial "about"
  = partial "skills"
  = partial "experience"
  = partial "education"
  = partial "contact"
  = partial "footer"
